In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import norm

In [2]:
df=pd.read_csv("BuyerRatio (1).csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
# It is chi-square test
#Null hyp(h0):All proportion are equal
#alternative hyp(h1):All proportion are not equal

In [4]:
df1=df.iloc[:,1:6]
df1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [5]:
val=stats.chi2_contingency(df1)
val

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [6]:
Expected_value=val[3]
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [7]:
Degree_of_freedom=val[2]
Degree_of_freedom

3

In [8]:
P_value=val[1]
P_value

0.6603094907091882

In [13]:
# comparing the pvalue at 5% significant level
if P_value<=0.05:
    print("Reject the null hyp(h0)")
else:
    print("Accept the null hyp(h0)")

Accept the null hyp(h0)

In [10]:
# or we can compare pvalue with critical value
critical_value=stats.chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [11]:
statistical_value=val[0]
statistical_value

1.595945538661058

In [12]:
if statistical_value>=critical_value:
    print("Reject the null hyp(h0)")
else: 
    print("Accept null hyp(h0)")

Accept null hyp(h0)