In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import norm

In [2]:
df=pd.read_csv("Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
print(df['Phillippines'].value_counts(),df['Indonesia'].value_counts(),df['Malta'].value_counts(),df['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [4]:
observed=([[271,267,269,280],[29,33,31,20]])
observed

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [5]:
#Null hyp(h0):Telecalls uses 4 centers around for process customer if audit certain% customer order has form any error
#Alt hyp(h1):telecalls uses 4 center around for process customer if audit certain% customer order has no-error

In [6]:
val=stats.chi2_contingency(observed)
val

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [7]:
stats=val[0]
stats

3.858960685820355

In [8]:
P_value=val[1]
P_value

0.2771020991233135

In [9]:
degree_of_freedom=val[2]
degree_of_freedom

3

In [10]:
# comparing with alpha at 5% significant level
if P_value<=0.05:
    print("Reject the null hyp(h0)")
else:
    print("Accept the null hyp(h0)")

Accept the null hyp(h0)